<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gduf.chb.springboot.mapper.NucleicacidresultMapper" >
  <resultMap id="BaseResultMap" type="com.gduf.chb.springboot.bean.Nucleicacidresult" >
    <id column="IDcard" property="idcard" jdbcType="VARCHAR" />
    <result column="result" property="result" jdbcType="VARCHAR" />
    <result column="hospital name" property="hospitalName" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    IDcard, result, "hospital name", time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gduf.chb.springboot.bean.NucleicacidresultExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from nucleicacidresult
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from nucleicacidresult
    where IDcard = #{idcard,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from nucleicacidresult
    where IDcard = #{idcard,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.gduf.chb.springboot.bean.NucleicacidresultExample" >
    delete from nucleicacidresult
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gduf.chb.springboot.bean.Nucleicacidresult" >
    insert into nucleicacidresult (IDcard, result, "hospital name", 
      time)
    values (#{idcard,jdbcType=VARCHAR}, #{result,jdbcType=VARCHAR}, #{hospitalName,jdbcType=VARCHAR}, 
      #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gduf.chb.springboot.bean.Nucleicacidresult" >
    insert into nucleicacidresult
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idcard != null" >
        IDcard,
      </if>
      <if test="result != null" >
        result,
      </if>
      <if test="hospitalName != null" >
        "hospital name",
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idcard != null" >
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="hospitalName != null" >
        #{hospitalName,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gduf.chb.springboot.bean.NucleicacidresultExample" resultType="java.lang.Integer" >
    select count(*) from nucleicacidresult
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update nucleicacidresult
    <set >
      <if test="record.idcard != null" >
        IDcard = #{record.idcard,jdbcType=VARCHAR},
      </if>
      <if test="record.result != null" >
        result = #{record.result,jdbcType=VARCHAR},
      </if>
      <if test="record.hospitalName != null" >
        "hospital name" = #{record.hospitalName,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update nucleicacidresult
    set IDcard = #{record.idcard,jdbcType=VARCHAR},
      result = #{record.result,jdbcType=VARCHAR},
      "hospital name" = #{record.hospitalName,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gduf.chb.springboot.bean.Nucleicacidresult" >
    update nucleicacidresult
    <set >
      <if test="result != null" >
        result = #{result,jdbcType=VARCHAR},
      </if>
      <if test="hospitalName != null" >
        "hospital name" = #{hospitalName,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where IDcard = #{idcard,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gduf.chb.springboot.bean.Nucleicacidresult" >
    update nucleicacidresult
    set result = #{result,jdbcType=VARCHAR},
      "hospital name" = #{hospitalName,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where IDcard = #{idcard,jdbcType=VARCHAR}
  </update>
</mapper>