<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gduf.chb.springboot.mapper.VaccinationreservationMapper" >
  <resultMap id="BaseResultMap" type="com.gduf.chb.springboot.bean.Vaccinationreservation" >
    <id column="IDcard" property="idcard" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="HospitalName" property="hospitalname" jdbcType="VARCHAR" />
    <result column="VaccineType" property="vaccinetype" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    IDcard, time, HospitalName, VaccineType
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gduf.chb.springboot.bean.VaccinationreservationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vaccinationreservation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from vaccinationreservation
    where IDcard = #{idcard,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from vaccinationreservation
    where IDcard = #{idcard,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.gduf.chb.springboot.bean.VaccinationreservationExample" >
    delete from vaccinationreservation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gduf.chb.springboot.bean.Vaccinationreservation" >
    insert into vaccinationreservation (IDcard, time, HospitalName, 
      VaccineType)
    values (#{idcard,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, #{hospitalname,jdbcType=VARCHAR}, 
      #{vaccinetype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gduf.chb.springboot.bean.Vaccinationreservation" >
    insert into vaccinationreservation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idcard != null" >
        IDcard,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="hospitalname != null" >
        HospitalName,
      </if>
      <if test="vaccinetype != null" >
        VaccineType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idcard != null" >
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="hospitalname != null" >
        #{hospitalname,jdbcType=VARCHAR},
      </if>
      <if test="vaccinetype != null" >
        #{vaccinetype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gduf.chb.springboot.bean.VaccinationreservationExample" resultType="java.lang.Integer" >
    select count(*) from vaccinationreservation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update vaccinationreservation
    <set >
      <if test="record.idcard != null" >
        IDcard = #{record.idcard,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.hospitalname != null" >
        HospitalName = #{record.hospitalname,jdbcType=VARCHAR},
      </if>
      <if test="record.vaccinetype != null" >
        VaccineType = #{record.vaccinetype,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update vaccinationreservation
    set IDcard = #{record.idcard,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=TIMESTAMP},
      HospitalName = #{record.hospitalname,jdbcType=VARCHAR},
      VaccineType = #{record.vaccinetype,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gduf.chb.springboot.bean.Vaccinationreservation" >
    update vaccinationreservation
    <set >
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="hospitalname != null" >
        HospitalName = #{hospitalname,jdbcType=VARCHAR},
      </if>
      <if test="vaccinetype != null" >
        VaccineType = #{vaccinetype,jdbcType=VARCHAR},
      </if>
    </set>
    where IDcard = #{idcard,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gduf.chb.springboot.bean.Vaccinationreservation" >
    update vaccinationreservation
    set time = #{time,jdbcType=TIMESTAMP},
      HospitalName = #{hospitalname,jdbcType=VARCHAR},
      VaccineType = #{vaccinetype,jdbcType=VARCHAR}
    where IDcard = #{idcard,jdbcType=VARCHAR}
  </update>
</mapper>