<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gduf.chb.springboot.mapper.VaccineandnucleicacidMapper" >
  <resultMap id="BaseResultMap" type="com.gduf.chb.springboot.bean.Vaccineandnucleicacid" >
    <id column="HospitalNumber" property="hospitalnumber" jdbcType="INTEGER" />
    <result column="ReagentType" property="reagenttype" jdbcType="VARCHAR" />
    <result column="TotalAmount" property="totalamount" jdbcType="INTEGER" />
    <result column="RemainingAmount" property="remainingamount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    HospitalNumber, ReagentType, TotalAmount, RemainingAmount
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gduf.chb.springboot.bean.VaccineandnucleicacidExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vaccineandnucleicacid
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from vaccineandnucleicacid
    where HospitalNumber = #{hospitalnumber,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from vaccineandnucleicacid
    where HospitalNumber = #{hospitalnumber,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gduf.chb.springboot.bean.VaccineandnucleicacidExample" >
    delete from vaccineandnucleicacid
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gduf.chb.springboot.bean.Vaccineandnucleicacid" >
    insert into vaccineandnucleicacid (HospitalNumber, ReagentType, TotalAmount, 
      RemainingAmount)
    values (#{hospitalnumber,jdbcType=INTEGER}, #{reagenttype,jdbcType=VARCHAR}, #{totalamount,jdbcType=INTEGER}, 
      #{remainingamount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.gduf.chb.springboot.bean.Vaccineandnucleicacid" >
    insert into vaccineandnucleicacid
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hospitalnumber != null" >
        HospitalNumber,
      </if>
      <if test="reagenttype != null" >
        ReagentType,
      </if>
      <if test="totalamount != null" >
        TotalAmount,
      </if>
      <if test="remainingamount != null" >
        RemainingAmount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hospitalnumber != null" >
        #{hospitalnumber,jdbcType=INTEGER},
      </if>
      <if test="reagenttype != null" >
        #{reagenttype,jdbcType=VARCHAR},
      </if>
      <if test="totalamount != null" >
        #{totalamount,jdbcType=INTEGER},
      </if>
      <if test="remainingamount != null" >
        #{remainingamount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gduf.chb.springboot.bean.VaccineandnucleicacidExample" resultType="java.lang.Integer" >
    select count(*) from vaccineandnucleicacid
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update vaccineandnucleicacid
    <set >
      <if test="record.hospitalnumber != null" >
        HospitalNumber = #{record.hospitalnumber,jdbcType=INTEGER},
      </if>
      <if test="record.reagenttype != null" >
        ReagentType = #{record.reagenttype,jdbcType=VARCHAR},
      </if>
      <if test="record.totalamount != null" >
        TotalAmount = #{record.totalamount,jdbcType=INTEGER},
      </if>
      <if test="record.remainingamount != null" >
        RemainingAmount = #{record.remainingamount,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update vaccineandnucleicacid
    set HospitalNumber = #{record.hospitalnumber,jdbcType=INTEGER},
      ReagentType = #{record.reagenttype,jdbcType=VARCHAR},
      TotalAmount = #{record.totalamount,jdbcType=INTEGER},
      RemainingAmount = #{record.remainingamount,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gduf.chb.springboot.bean.Vaccineandnucleicacid" >
    update vaccineandnucleicacid
    <set >
      <if test="reagenttype != null" >
        ReagentType = #{reagenttype,jdbcType=VARCHAR},
      </if>
      <if test="totalamount != null" >
        TotalAmount = #{totalamount,jdbcType=INTEGER},
      </if>
      <if test="remainingamount != null" >
        RemainingAmount = #{remainingamount,jdbcType=INTEGER},
      </if>
    </set>
    where HospitalNumber = #{hospitalnumber,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gduf.chb.springboot.bean.Vaccineandnucleicacid" >
    update vaccineandnucleicacid
    set ReagentType = #{reagenttype,jdbcType=VARCHAR},
      TotalAmount = #{totalamount,jdbcType=INTEGER},
      RemainingAmount = #{remainingamount,jdbcType=INTEGER}
    where HospitalNumber = #{hospitalnumber,jdbcType=INTEGER}
  </update>
</mapper>